.contenedor{
    display: grid;
}


.imagenes1{
    width: 100%;
    height:100%;
}
.divmujern{
    display: grid;
    grid-row: 2/4 ;
}

.divmujern > img{
    width: 100%;
    height:100%;
}

.divmujerfit{
    display: grid;
    grid-column: 2/4;
}

.divmujerfit > img{
    width: 100%;
    height:100%;
}


.divfomulario{
    display: grid;
    grid-area: 2/4/4/5;
    background-color: black;

}